## Sub-AI&PD
## Name-Sanskruti Suryakant Rane
## roll no-23107140
## Class-TY-AIDS-A
## Batch-B
# Assignment no-1  (Implement a basic AI prototype using TensorFlow/PyTorch for an application and Train the
# model with relevant datasets and evaluate its performance.

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [4]:
data = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [6]:
data.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1, inplace=True)

In [8]:
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,3,Male,...,3,3,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,4,Male,...,3,1,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2,Male,...,4,2,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,4,Male,...,3,4,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2,Male,...,3,1,0,6,3,4,4,3,1,2

In [10]:
le = LabelEncoder()

for column in data.select_dtypes(include='object').columns:
    data[column] = le.fit_transform(data[column])

In [12]:
data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,2,1102,2,1,2,1,2,0,...,3,1,0,8,0,1,6,4,0,5
1,49,0,1,279,1,8,1,1,3,1,...,4,4,1,10,3,3,10,7,1,7
2,37,1,2,1373,1,2,2,4,4,1,...,3,2,0,7,3,3,0,0,0,0
3,33,0,1,1392,1,3,4,1,4,0,...,3,3,0,8,3,3,8,7,3,0
4,27,0,2,591,1,2,1,3,1,1,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,1,884,1,23,2,3,3,1,...,3,3,1,17,3,3,5,2,0,3
1466,39,0,2,613,1,6,1,3,4,1,...,3,1,1,9,5,3,7,7,1,7
1467,27,0,2,155,1,4,3,1,2,1,...,4,2,1,6,0,3,6,2,0,3
1468,49,0,1,1023,2,2,3,3,4,1,...,3,4,0,17,3,2,9,6,0,8
1469,34,0,2,628,1,8,3,3,2,1,...,3,1,0,6,3,4,4,3,1,2

In [22]:
X = data.drop('Attrition', axis=1)
y = data['Attrition']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [39]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
scaler

StandardScaler()

In [29]:
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [31]:
y_pred = model.predict(X_test)

In [33]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8945578231292517

In [35]:
print(confusion_matrix(y_test, y_pred))

[[249   6]
 [ 25  14]]

In [37]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.98      0.94       255
           1       0.70      0.36      0.47        39

    accuracy                           0.89       294
   macro avg       0.80      0.67      0.71       294
weighted avg       0.88      0.89      0.88       294

In [41]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

2025-12-22 15:48:15.670830: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [42]:
model = Sequential()

model.add(Dense(64, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dropout(0.3))

model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(1, activation='sigmoid'))

2025-12-22 15:48:17.899139: I tensorflow/compiler/jit/xla_cpu_device.cc:41] Not creating XLA devices, tf_xla_enable_xla_devices not set
2025-12-22 15:48:17.899641: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2025-12-22 15:48:17.899684: W tensorflow/stream_executor/cuda/cuda_driver.cc:326] failed call to cuInit: UNKNOWN ERROR (303)
2025-12-22 15:48:17.899709: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (ailcomp08): /proc/driver/nvidia/version does not exist
2025-12-22 15:48:17.900953: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-12-22 15:48:17.901682: I tensorflow/compiler/jit/xla_gpu_device.cc:99] Not creating XLA devices, tf_xla_enable_xla_devices not set

In [45]:
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [47]:
history = model.fit(
    X_train, y_train,
    epochs=50,
    batch_size=32,
    validation_split=0.2,
    verbose=1
)

2025-12-22 15:48:47.110539: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)
2025-12-22 15:48:47.137807: I tensorflow/core/platform/profile_utils/cpu_utils.cc:112] CPU Frequency: 2592000000 Hz

Epoch 1/50
30/30 [==============================] - 1s 6ms/step - loss: 0.7083 - accuracy: 0.5821 - val_loss: 0.5333 - val_accuracy: 0.7966
Epoch 2/50
30/30 [==============================] - 0s 2ms/step - loss: 0.4463 - accuracy: 0.8458 - val_loss: 0.4988 - val_accuracy: 0.7966
Epoch 3/50
30/30 [==============================] - 0s 1ms/step - loss: 0.4203 - accuracy: 0.8413 - val_loss: 0.4719 - val_accuracy: 0.7966
Epoch 4/50
30/30 [==============================] - 0s 1ms/step - loss: 0.4085 - accuracy: 0.8346 - val_loss: 0.4597 - val_accuracy: 0.8008
Epoch 5/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3709 - accuracy: 0.8598 - val_loss: 0.4515 - val_accuracy: 0.8051
Epoch 6/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3583 - accuracy: 0.8486 - val_loss: 0.4369 - val_accuracy: 0.8093
Epoch 7/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3452 - accuracy: 0.8708 - val_loss: 0.4306 - val_accuracy: 0.8136
Epoch 8/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3194 - accuracy: 0.8616 - val_loss: 0.4328 - val_accuracy: 0.8136
Epoch 9/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3767 - accuracy: 0.8529 - val_loss: 0.4194 - val_accuracy: 0.8051
Epoch 10/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3454 - accuracy: 0.8566 - val_loss: 0.4234 - val_accuracy: 0.8093
Epoch 11/50
30/30 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8554 - val_loss: 0.4224 - val_accuracy: 0.8093
Epoch 12/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3240 - accuracy: 0.8680 - val_loss: 0.4134 - val_accuracy: 0.8093
Epoch 13/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3166 - accuracy: 0.8773 - val_loss: 0.4139 - val_accuracy: 0.8136
Epoch 14/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3203 - accuracy: 0.8773 - val_loss: 0.4136 - val_accuracy: 0.8136
Epoch 15/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3079 - accuracy: 0.8790 - val_loss: 0.4119 - val_accuracy: 0.8093
Epoch 16/50
30/30 [==============================] - 0s 2ms/step - loss: 0.2929 - accuracy: 0.8757 - val_loss: 0.4140 - val_accuracy: 0.8051
Epoch 17/50
30/30 [==============================] - 0s 1ms/step - loss: 0.3041 - accuracy: 0.8946 - val_loss: 0.4032 - val_accuracy: 0.8136
Epoch 18/50
30/30 [==============================] - 0s 2ms/step - loss: 0.2824 - accuracy: 0.8782 - val_loss: 0.4054 - val_accuracy: 0.8178
Epoch 19/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2851 - accuracy: 0.8767 - val_loss: 0.4084 - val_accuracy: 0.8136
Epoch 20/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2791 - accuracy: 0.8933 - val_loss: 0.4096 - val_accuracy: 0.8093
Epoch 21/50
30/30 [==============================] - 0s 2ms/step - loss: 0.2521 - accuracy: 0.9078 - val_loss: 0.4067 - val_accuracy: 0.8136
Epoch 22/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2805 - accuracy: 0.8857 - val_loss: 0.4091 - val_accuracy: 0.8220
Epoch 23/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2980 - accuracy: 0.8818 - val_loss: 0.4101 - val_accuracy: 0.8093
Epoch 24/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2605 - accuracy: 0.8932 - val_loss: 0.4080 - val_accuracy: 0.8093
Epoch 25/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2544 - accuracy: 0.8996 - val_loss: 0.4159 - val_accuracy: 0.8136
Epoch 26/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2637 - accuracy: 0.8914 - val_loss: 0.4165 - val_accuracy: 0.8136
Epoch 27/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2540 - accuracy: 0.8994 - val_loss: 0.4293 - val_accuracy: 0.8136
Epoch 28/50
30/30 [==============================] - 0s 3ms/step - loss: 0.2393 - accuracy: 0.8996 - val_loss: 0.4275 - val_accuracy: 0.8136
Epoch 29/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2736 - accuracy: 0.8801 - val_loss: 0.4281 - val_accuracy: 0.8136
Epoch 30/50
30/30 [==============================] - 0s 2ms/step - loss: 0.2563 - accuracy: 0.8919 - val_loss: 0.4239 - val_accuracy: 0.8178
Epoch 31/50
30/30 [==============================] - 0s 2ms/step - loss: 0.2396 - accuracy: 0.8962 - val_loss: 0.4237 - val_accuracy: 0.8178
Epoch 32/50
30/30 [==============================] - 0s 2ms/step - loss: 0.2255 - accuracy: 0.9111 - val_loss: 0.4338 - val_accuracy: 0.8178
Epoch 33/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2647 - accuracy: 0.9045 - val_loss: 0.4352 - val_accuracy: 0.8093
Epoch 34/50
30/30 [==============================] - 0s 2ms/step - loss: 0.2145 - accuracy: 0.9036 - val_loss: 0.4379 - val_accuracy: 0.8178
Epoch 35/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2414 - accuracy: 0.8947 - val_loss: 0.4362 - val_accuracy: 0.8051
Epoch 36/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2372 - accuracy: 0.8940 - val_loss: 0.4502 - val_accuracy: 0.8136
Epoch 37/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2382 - accuracy: 0.9048 - val_loss: 0.4423 - val_accuracy: 0.8093
Epoch 38/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2298 - accuracy: 0.8937 - val_loss: 0.4587 - val_accuracy: 0.8093
Epoch 39/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2344 - accuracy: 0.8970 - val_loss: 0.4656 - val_accuracy: 0.8093
Epoch 40/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2087 - accuracy: 0.9167 - val_loss: 0.4663 - val_accuracy: 0.8051
Epoch 41/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2083 - accuracy: 0.9274 - val_loss: 0.4616 - val_accuracy: 0.8093
Epoch 42/50
30/30 [==============================] - 0s 1ms/step - loss: 0.1941 - accuracy: 0.9148 - val_loss: 0.4644 - val_accuracy: 0.8178
Epoch 43/50
30/30 [==============================] - 0s 2ms/step - loss: 0.2371 - accuracy: 0.8921 - val_loss: 0.4711 - val_accuracy: 0.8093
Epoch 44/50
30/30 [==============================] - 0s 1ms/step - loss: 0.1978 - accuracy: 0.9191 - val_loss: 0.4841 - val_accuracy: 0.8008
Epoch 45/50
30/30 [==============================] - 0s 1ms/step - loss: 0.1881 - accuracy: 0.9351 - val_loss: 0.4694 - val_accuracy: 0.8136
Epoch 46/50
30/30 [==============================] - 0s 1ms/step - loss: 0.1812 - accuracy: 0.9173 - val_loss: 0.4907 - val_accuracy: 0.8093
Epoch 47/50
30/30 [==============================] - 0s 1ms/step - loss: 0.2198 - accuracy: 0.9145 - val_loss: 0.5033 - val_accuracy: 0.8093
Epoch 48/50
30/30 [==============================] - 0s 2ms/step - loss: 0.1974 - accuracy: 0.9184 - val_loss: 0.5011 - val_accuracy: 0.8136
Epoch 49/50
30/30 [==============================] - 0s 2ms/step - loss: 0.1493 - accuracy: 0.9447 - val_loss: 0.5003 - val_accuracy: 0.8178
Epoch 50/50
30/30 [==============================] - 0s 2ms/step - loss: 0.1964 - accuracy: 0.9232 - val_loss: 0.5007 - val_accuracy: 0.8136

In [49]:
y_pred = (model.predict(X_test) > 0.5).astype(int)

In [51]:
accuracy = accuracy_score(y_test, y_pred)
print("Test Accuracy:", accuracy)

Test Accuracy: 0.8843537414965986

In [53]:


print(confusion_matrix(y_test, y_pred))

[[250   5]
 [ 29  10]]

In [55]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94       255
           1       0.67      0.26      0.37        39

    accuracy                           0.88       294
   macro avg       0.78      0.62      0.65       294
weighted avg       0.87      0.88      0.86       294